<div class="skills">
    <div class="row justify-content-md-center text-center">
        <div class="col col-4 bg-white skills-col">
            <h3 class="skills-title">
                <i class="bi bi-hdd"></i>
                Back-End
            </h3>

            <p class="skills-text">
                Dentro del mundo Back-End tengo conocimientos en creacion
                y distribucion de Web APIs, pruebas automaticas, seguridad y
                automatizacion de procesos, con habilidades en lenguajes 
                Back-End como C# o PHP ademas de conocimientos en 
                bases de datos, tales como SQL Server, MySQL y PostgreSQL.
            </p>

            <p class="text-primary header">
                Stack:
            </p>

            <p class="skills-text">
                ASP.NET Core, SQL Server, Java, C#, PHP, NodeJS.
            </p>

            <p class="text-primary header">
                Experiencia:
            </p>

            <ul class="skills-list">
                <li>Web APIs</li>
                <li>ASP.NET Core</li>
                <li>SQL</li>
                <li>Entity Framework</li>
                <li>LINQ</li>
            </ul>
        </div>

        <div class="col col-4 bg-white skills-col">
            <h3 class="skills-title">
                <i class="bi bi-code-slash"></i>
                Front-End
            </h3>

            <p class="skills-text">
                Por parte de lo que es el Front-End puedo decir que tengo
                un cierto nivel de experiencia manejando las tecnologias
                basicas del desarrollo web, las cuales son HTML, CSS y JavaScript,
                pero, además de eso he trabajado con diferentes herramientas
                tales como SASS, Bootstrap, JQuery, React, etc.
            </p>

            <p class="text-primary header">
                Stack:
            </p>

            <p class="skills-text">
                HTML, CSS, JavaScript, SASS, Bootstrap, React, Blazor.
            </p>

            <p class="text-primary header">
                Experiencia:
            </p>

            <ul class="skills-list">
                <li>Preprocesador CSS (SASS)</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <li>Webpack, Babel</li>
                <li>React</li>
            </ul>
        </div>
    </div>
</div>